<div *ngIf="!contestant.ready">
  <h2 class="center">Player {{ contestant.number }}</h2>
  <form (submit)="onSubmit()" #form="ngForm">
    <div class="center">
      <label for="userName">GitHub Username:</label>
      <input
        type="text"
        id="userName"
        name="userName"
        [(ngModel)]="contestant.userName"
        required
        #userName="ngModel"
      >
    </div>
    <div *ngIf="userName.touched && userName.invalid" class="warning center">
      <div *ngIf="userName.errors.required">
        User name is required
      </div>
    </div>
    <div *ngIf="contestant.error" class="warning center">
      <p>{{ contestant.error }}</p>
    </div>
    <button class="btn-submit" [disabled]="form.invalid">Get User</button>
  </form>
</div>
<div *ngIf="contestant.ready">
  <img [src]="contestant.avatar_url">
  <p class="center">{{ contestant.userName }}</p>
</div>
